In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('datasetFlashScore2.csv', delimiter = ';')
dfdummy = pd.from_dummies(df['FTHG'])
dfdummy

         0      1      2      3      4      5      7
0    False  False  False  False   True  False  False
1     True  False  False  False  False  False  False
2    False   True  False  False  False  False  False
3    False  False  False   True  False  False  False
4    False  False   True  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
375  False  False   True  False  False  False  False
376  False   True  False  False  False  False  False
377  False  False   True  False  False  False  False
378   True  False  False  False  False  False  False
379  False  False   True  False  False  False  False

[380 rows x 7 columns]